.resume-container {
  margin-left: 20%;
  margin-right: 20%;

  display: flex;
  flex-wrap: wrap;
}

.resume {
  margin: 2%;
  text-align: center;
  padding: 2%;


  border-color: #bbbbbb;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.7rem;
}

.profile_image {
  width: 20vh;
}

.profile_name, .profile_category, .profile_major {
  width: 100%;
  margin: 0;
  padding: 0;
}
