/* This stylesheet contain the basic style applied for all the pages */
body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

.header {
  background-color: #3490de;
  margin: 0;
  margin-bottom: 5rem;
}

.logo {
  float: left;
  color: white;

  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 3rem;

  padding: 1rem;
  padding-left: 2rem;
  margin: 0;
}

.tabs-container {
  display:flex;
  justify-content: center;
  align-items: center;

  color: #eeeeee;
}

.tab {
  margin: 2rem;
  width: 150px;
  text-align: center;
}

.tab-button:hover, a:hover{
  background-color: #1F76C0;
  color: white;
}
